In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data_biomass.csv")

In [3]:
data.head()

,Unnamed: 0,cycle_id,sampled_at,weight,sum_sample_g,sum_sample_kg,abw,abw_round,diff_d,diff_abw_round,...,ordered_at,hatchery_id,total_seed_type,hatchery_name,pond_name,pond_length,pond_width,pond_depth,biomass_result,biomass_result_round
0,0,25441.0,2023-10-04,224.00,22.321429,0.000022,5.20,5.0,0.0,0.0,...,2023-09-12 06:39:29.000,1038.0,net,BAP Kalianda,3.24.1.2 (F),40.0,50.00,0.8,265200.0,255000.0
1,1,25441.0,2023-10-11,224.00,26.785714,0.000027,6.39,6.0,7.0,1.0,...,2023-09-12 06:39:29.000,1038.0,net,BAP Kalianda,3.24.1.2 (F),40.0,50.00,0.8,325890.0,306000.0
2,2,25441.0,2023-10-18,224.00,35.714286,0.000036,7.50,8.0,7.0,2.0,...,2023-09-12 06:39:29.000,1038.0,net,BAP Kalianda,3.24.1.2 (F),40.0,50.00,0.8,382500.0,408000.0
3,3,20978.0,2023-03-21,222.60,49.415993,0.000049,10.56,11.0,0.0,0.0,...,2023-02-23 01:37:42.000,3.0,net,PT. Central Proteinaprima Tbk,A6,60.0,37.53,2.0,3066624.0,3194400.0
4,4,20978.0,2023-03-21,413.55,26.598960,0.000027,10.56,11.0,0.0,0.0,...,2023-02-23 01:37:42.000,3.0,net,PT. Central Proteinaprima Tbk,A6,60.0,37.53,2.0,3066624.0,3194400.0

In [4]:
data = data[['area','total_seed','biomass_result']]

In [5]:
data.head()

     area  total_seed  biomass_result
0  2000.0       51000        265200.0
1  2000.0       51000        325890.0
2  2000.0       51000        382500.0
3  2252.0      290400       3066624.0
4  2252.0      290400       3066624.0

In [6]:
from sklearn.preprocessing import   MinMaxScaler
import pandas as pd


# create a StandardScaler object
scaler = MinMaxScaler()

# fit and transform the data
scaled_data = scaler.fit_transform(data)

# create a new DataFrame with the scaled data
scaled_df = pd.DataFrame(scaled_data, columns=data.columns)
data=scaled_df

In [7]:
# Impor pustaka yang diperlukan
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Buat dataset contoh

X = data.drop(columns=['biomass_result'], axis=1)  # Fitur
y = data['biomass_result']  # Target dengan noise

# Bagi dataset menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
from sklearn.tree import DecisionTreeRegressor

# Inisialisasi model
model = DecisionTreeRegressor()

# Melatih model
model.fit(X_train, y_train)

# Melakukan prediksi
y_pred = model.predict(X_train)

# Evaluasi model
mse = mean_squared_error(y_train, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.0050658405093058564

In [9]:
# Inisialisasi model
model = RandomForestRegressor()

# Melatih model
model.fit(X_train, y_train)

# Melakukan prediksi
y_pred = model.predict(X_train)

# Evaluasi model
mse = mean_squared_error(y_train, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.0051210914768795935

In [1]:
from flask import Flask, request, jsonify
from sklearn.linear_model import LinearRegression
import joblib



joblib.dump(model, 'b_model.joblib')

# Load pre-trained machine learning model
model = joblib.load('b_model.joblib')

NameError: name 'model' is not defined