Import Library

In [4]:
import pandas as pd

Import Data

In [5]:
import pandas as pd

# Import data dari file cycles.csv
data_cycles = pd.read_csv("/workspaces/DS_JalaTech/Data/cycles.csv")

# Import data dari file farms.csv
data_farms = pd.read_csv("/workspaces/DS_JalaTech/Data/farms.csv")

# Import data dari file fasting.csv
data_fasting = pd.read_csv("/workspaces/DS_JalaTech/Data/fasting.csv")

# Import data dari file fastings.csv
data_fastings = pd.read_csv("/workspaces/DS_JalaTech/Data/fastings.csv")

# Import data dari file feed_tray.csv
data_feed_tray = pd.read_csv("/workspaces/DS_JalaTech/Data/feed_tray.csv")

# Import data dari file feeds.csv
data_feeds = pd.read_csv("/workspaces/DS_JalaTech/Data/feeds.csv")

# Import data dari file harvests.csv
data_harvests = pd.read_csv("/workspaces/DS_JalaTech/Data/harvests.csv")

# Import data dari file measurements.csv
data_measurements = pd.read_csv(r"/workspaces/DS_JalaTech/Data/measurements.csv")

# Import data dari file mortalities.csv
data_mortalities = pd.read_csv("/workspaces/DS_JalaTech/Data/mortalities.csv")

# Import data dari file ponds.csv
data_ponds = pd.read_csv("/workspaces/DS_JalaTech/Data/ponds.csv")

# Import data dari file samplings.csv
data_samplings = pd.read_csv("/workspaces/DS_JalaTech/Data/samplings.csv")

Cek data lengkap

Ukuran Data dan konten data

In [3]:
# Analisis ukuran dan konten data

print("\nAnalisis Ukuran Data:")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.shape}")

Analisis Ukuran Data:
- data_cycles: (2617, 24)
- data_farms: (551, 4)
- data_fasting: (6189, 3)
- data_fastings: (32379, 3)
- data_feed_tray: (186664, 10)
- data_feeds: (706908, 3)
- data_harvests: (8087, 9)
- data_measurements: (139050, 24)
- data_mortalities: (13221, 7)
- data_ponds: (338, 10)
- data_samplings: (15032, 7)

Periksa duplikat

In [4]:
# Periksa duplikat

print("\nAnalisis Duplikat:")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.duplicated().sum()}")

Analisis Duplikat:
- data_cycles: 50
- data_farms: 0
- data_fasting: 67
- data_fastings: 185
- data_feed_tray: 0
- data_feeds: 154995
- data_harvests: 0
- data_measurements: 0
- data_mortalities: 0
- data_ponds: 0
- data_samplings: 0

Kesimpulan:
*   data_cycles ,data_fasting,data_fastings,data_feed_tray, juga data_feeds masih memiliki banyak duplikat,
*   sekaligus pada judul nama data antara data_fasting da
data_fastings apakah sama/berbeda?(maka perlu dibuat berbeda)
*  masih ada ketidakkonsistenan nama kolom tiap data dengan glosarium
*   Langkah penting dalam menangani duplikat data adalah mengidentifikasi sumber duplikat. Lakukan investigasi untuk memahami akar penyebab duplikat dan mengambil langkah pencegahan di masa depan. Selanjutnya, tetapkan kriteria yang jelas dan konsisten untuk menentukan duplikat dalam konteks data Anda. Manfaatkan teknik penghapusan duplikat seperti `df.drop_duplicates()` atau algoritma deduplikasi khusus untuk membersihkan data. Jika duplikat mewakili entitas yang sama, pertimbangkan untuk mengagregasi data dengan tepat, misalnya dengan menghitung total pembelian per pelanggan. Penting untuk diingat bahwa tidak semua duplikat harus dihapus, keputusan harus didasarkan pada pemahaman yang baik tentang data dan tujuan analisis Anda.

Cek Nilai Null

In [5]:
print("\nAnalisis Nilai Null:")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.isnull().sum()}")

Analisis Nilai Null:
- data_cycles: id                           0
pond_id                      0
species_id                 814
total_seed                   0
started_at                   0
finished_at                  1
remark                    1281
created_at                   0
updated_at                   0
area                         0
initial_age                 48
limit_weight_per_area        7
target_cultivation_day       3
target_size                  4
extracted_at                 0
subscription_type            0
ordered_at                1523
hatchery_id                465
total_seed_type            242
hatchery_name              465
pond_name                    0
pond_length                  6
pond_width                   6
pond_depth                 118
dtype: int64
- data_farms: id           0
province    72
regency     93
timezone     0
dtype: int64
- data_fasting: logged_date     0
cycle_id        0
fasting        17
dtype: int64
- data_fastings: logged_date     0
cycle_id        0
fasting        40
dtype: int64
- data_feed_tray: id                             0
logged_at                      0
feed_logged_at                 0
cycle_id                       0
tray_number                    0
feed_remaining_percent         0
remark                    140283
created_at                     0
updated_at                     0
local_feed_logged_at           0
dtype: int64
- data_feeds: cycle_id      0
logged_at    21
quantity     21
dtype: int64
- data_harvests: cycle_id            0
updated_at          0
size                0
created_at          0
weight              0
id                  0
harvested_at        0
status            263
selling_price    1793
dtype: int64
- data_measurements: pond_id                     0
cycle_id                    0
measured_date               0
morning_temperature     41855
evening_temperature     49839
morning_do              61324
evening_do              65098
morning_salinity        46388
evening_salinity        73957
morning_pH              20115
evening_pH              78101
transparency            61750
turbidity              138884
ammonia                135302
nitrate                136888
nitrite                129293
alkalinity             125533
hardness               133525
calcium                132458
magnesium              132430
carbonate              133762
bicarbonate            132372
tom                    131774
total_plankton_        126429
dtype: int64
- data_mortalities: id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64
- data_ponds: id                    0
farm_id               0
length               23
width                29
deep                 92
created_at            0
updated_at            0
record_id             0
extracted_at          0
max_seed_density    203
dtype: int64
- data_samplings: cycle_id              0
updated_at            0
sampled_at            0
created_at            0
average_weight        0
id                    0
remark            13693
dtype: int64

Kesimpulan:



*   Masih ada beberapa data yang memiliki nilai null
*   Untuk menangani nilai null dalam data, ada beberapa strategi yang dapat diterapkan. Pertama, identifikasi lokasi dan penyebab nilai null serta analisis dampaknya pada model. Kemudian, pertimbangkan strategi penanganan seperti penghapusan atau imputasi nilai null. Gunakan teknik khusus jika diperlukan, seperti interpolasi untuk data time series. Pastikan konsistensi dalam menerapkan metode penanganan dan dokumentasikan metode yang digunakan. Evaluasi dampaknya pada performa model dan ingat bahwa nilai null dapat menurunkan akurasi, memperkenalkan bias, dan mempengaruhi interpretasi data.

Catatan lain juga seperti, transformasi data adalah proses memodifikasi data sebelum dilakukan analisis. Beberapa teknik yang umum digunakan adalah normalisasi dan scaling, encoding data kategorikal, dan feature engineering. Selanjutnya, integrasi data melibatkan menggabungkan data dari sumber yang berbeda dan menangani inkonsistensi dalam format data. Opsionalnya, reduksi data dapat dilakukan melalui seleksi fitur atau teknik reduksi dimensi seperti Principal Component Analysis (PCA). Hal ini dapat membantu meningkatkan performa model analisis.

Data Preprocessing

Drop duplicate

In [6]:
# Now drop duplicates (consider inplace=True for efficiency)
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    df.drop_duplicates(inplace=True)  # Drop duplicates and modify DataFrame in-place

# Print number of duplicates after dropping
print("\nAnalisis Duplikat (setelah dihapus):")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.duplicated().sum()}")  # Print number of duplicates remaining

Analisis Duplikat (setelah dihapus):
- data_cycles: 0
- data_farms: 0
- data_fasting: 0
- data_fastings: 0
- data_feed_tray: 0
- data_feeds: 0
- data_harvests: 0
- data_measurements: 0
- data_mortalities: 0
- data_ponds: 0
- data_samplings: 0

Drop Nilai Null  ( sementara, untuk langkah idealis seharusnya memastikan tiap kolom data diisi seperti apa/sumber null perlu dicari, namun karena kurang pengetahuan mengenai tentang ilmu peternakan udang/data cadangan tertulis(manual), saya hapus/drop untuk pengoptimalan data)

In [7]:
import pandas as pd

# Analyze null values
print("\nAnalisis Nilai Null (sebelum dihapus):")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.isnull().sum()}")  # Print number of null values before dropping

# Drop rows with null values (consider subset of columns if needed)
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    df.dropna(inplace=True)  # Drop rows with any null value

# Print number of null values after dropping (optional)
print("\nAnalisis Nilai Null (setelah dihapus):")
for df, name in zip(
    [
        data_cycles,
        data_farms,
        data_fasting,
        data_fastings,
        data_feed_tray,
        data_feeds,
        data_harvests,
        data_measurements,
        data_mortalities,
        data_ponds,
        data_samplings,
    ],
    [
        "data_cycles",
        "data_farms",
        "data_fasting",
        "data_fastings",
        "data_feed_tray",
        "data_feeds",
        "data_harvests",
        "data_measurements",
        "data_mortalities",
        "data_ponds",
        "data_samplings",
    ],
):
    print(f"- {name}: {df.isnull().sum()}")  # Print number of null values remaining

Analisis Nilai Null (sebelum dihapus):
- data_cycles: id                           0
pond_id                      0
species_id                 798
total_seed                   0
started_at                   0
finished_at                  1
remark                    1231
created_at                   0
updated_at                   0
area                         0
initial_age                 47
limit_weight_per_area        7
target_cultivation_day       3
target_size                  4
extracted_at                 0
subscription_type            0
ordered_at                1474
hatchery_id                458
total_seed_type            242
hatchery_name              458
pond_name                    0
pond_length                  6
pond_width                   6
pond_depth                 118
dtype: int64
- data_farms: id           0
province    72
regency     93
timezone     0
dtype: int64
- data_fasting: logged_date     0
cycle_id        0
fasting        17
dtype: int64
- data_fastings: logged_date     0
cycle_id        0
fasting        38
dtype: int64
- data_feed_tray: id                             0
logged_at                      0
feed_logged_at                 0
cycle_id                       0
tray_number                    0
feed_remaining_percent         0
remark                    140283
created_at                     0
updated_at                     0
local_feed_logged_at           0
dtype: int64
- data_feeds: cycle_id      0
logged_at    17
quantity     17
dtype: int64
- data_harvests: cycle_id            0
updated_at          0
size                0
created_at          0
weight              0
id                  0
harvested_at        0
status            263
selling_price    1793
dtype: int64
- data_measurements: pond_id                     0
cycle_id                    0
measured_date               0
morning_temperature     41855
evening_temperature     49839
morning_do              61324
evening_do              65098
morning_salinity        46388
evening_salinity        73957
morning_pH              20115
evening_pH              78101
transparency            61750
turbidity              138884
ammonia                135302
nitrate                136888
nitrite                129293
alkalinity             125533
hardness               133525
calcium                132458
magnesium              132430
carbonate              133762
bicarbonate            132372
tom                    131774
total_plankton_        126429
dtype: int64
- data_mortalities: id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64
- data_ponds: id                    0
farm_id               0
length               23
width                29
deep                 92
created_at            0
updated_at            0
record_id             0
extracted_at          0
max_seed_density    203
dtype: int64
- data_samplings: cycle_id              0
updated_at            0
sampled_at            0
created_at            0
average_weight        0
id                    0
remark            13693
dtype: int64

Analisis Nilai Null (setelah dihapus):
- data_cycles: id                        0
pond_id                   0
species_id                0
total_seed                0
started_at                0
finished_at               0
remark                    0
created_at                0
updated_at                0
area                      0
initial_age               0
limit_weight_per_area     0
target_cultivation_day    0
target_size               0
extracted_at              0
subscription_type         0
ordered_at                0
hatchery_id               0
total_seed_type           0
hatchery_name             0
pond_name                 0
pond_length               0
pond_width                0
pond_depth                0
dtype: int64
- data_farms: id          0
province    0
regency     0
timezone    0
dtype: int64
- data_fasting: logged_date    0
cycle_id       0
fasting        0
dtype: int64
- data_fastings: logged_date    0
cycle_id       0
fasting        0
dtype: int64
- data_feed_tray: id                        0
logged_at                 0
feed_logged_at            0
cycle_id                  0
tray_number               0
feed_remaining_percent    0
remark                    0
created_at                0
updated_at                0
local_feed_logged_at      0
dtype: int64
- data_feeds: cycle_id     0
logged_at    0
quantity     0
dtype: int64
- data_harvests: cycle_id         0
updated_at       0
size             0
created_at       0
weight           0
id               0
harvested_at     0
status           0
selling_price    0
dtype: int64
- data_measurements: pond_id                0.0
cycle_id               0.0
measured_date          0.0
morning_temperature    0.0
evening_temperature    0.0
morning_do             0.0
evening_do             0.0
morning_salinity       0.0
evening_salinity       0.0
morning_pH             0.0
evening_pH             0.0
transparency           0.0
turbidity              0.0
ammonia                0.0
nitrate                0.0
nitrite                0.0
alkalinity             0.0
hardness               0.0
calcium                0.0
magnesium              0.0
carbonate              0.0
bicarbonate            0.0
tom                    0.0
total_plankton_        0.0
dtype: float64
- data_mortalities: id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64
- data_ponds: id                  0
farm_id             0
length              0
width               0
deep                0
created_at          0
updated_at          0
record_id           0
extracted_at        0
max_seed_density    0
dtype: int64
- data_samplings: cycle_id          0
updated_at        0
sampled_at        0
created_at        0
average_weight    0
id                0
remark            0
dtype: int64

Mengubah data_fastings menjadi data_fastings_second sebagai pembeda

In [8]:
data_fastings_second=data_fastings

In [9]:
data_fasting.head()

  logged_date  cycle_id  fasting
0  2022-10-17     15804      1.0
1  2022-11-27     15804      0.0
2  2022-11-28     15804      0.0
3  2022-11-29     15804      0.0
4  2022-12-01     15804      1.0

Mengubah nama data_fastings menjadi data_fasting2

#Jawaban No.2

##Menghitung SR

In [10]:
data_harvests.head()

,cycle_id,updated_at,size,created_at,weight,id,harvested_at,status,selling_price
1,11848.0,2021-10-25 23:29:53,300.0,2021-10-24 08:38:53,46.00,7520.0,2021-10-22,Full,1.610000e+06
2,11848.0,2021-10-25 23:29:35,300.0,2021-10-25 23:29:35,10.00,7546.0,2021-10-21,Partial,3.500000e+05
5,18747.0,2022-10-20 01:06:50,72.3,2022-10-20 01:06:50,5322.28,13876.0,2022-10-19,Full,5.322280e+03
6,27095.0,2024-02-19 02:10:48,41.5,2023-12-27 12:00:59,7843.00,25322.0,2023-12-12,Full,4.925404e+08
7,27095.0,2024-02-19 02:08:11,67.5,2024-02-12 05:06:57,1244.50,26728.0,2023-11-08,Partial,7.653675e+07

Menghitung Data Jumlah Ekor Udang per siklus panen

In [11]:
data_harvests['ekor'] = (data_harvests['weight']/ data_harvests['size']).astype(int)

In [12]:
data_harvests['ekor']

1         0
2         0
5        73
6       188
7        18
       ...
8082      0
8083      0
8084      2
8085      0
8086      1
Name: ekor, Length: 6039, dtype: int64

Mengambil data total_seed per siklus dari data_cycles dan data jumlah ekor per siklus(id) dari data_harvests

In [13]:

data_cycles['cycle_id'] = data_cycles['id']

In [14]:
merge_df = pd.merge(data_cycles, data_harvests, on='cycle_id', how='inner')

Perhitungan survival rate = data ekor / data total_seed

In [15]:
merge_df['sr']= merge_df['ekor']/ merge_df['total_seed']*100

Pembuatan Data survival Rate

In [16]:
data_sr = pd.DataFrame({
    'cycle_id': merge_df['cycle_id'],
    'ekor': merge_df['ekor'],
    'total_seed': merge_df['total_seed'],
    'total_seed_type': merge_df['total_seed_type'],
    'sr%':merge_df['sr']
})

Data SR (per ekor)

In [17]:
data_sr

      cycle_id  ekor  total_seed total_seed_type       sr%
0        17125     1      188000             net  0.000532
1        26058     4      148007             net  0.002703
2        26058     5      148007             net  0.003378
3        26058    11      148007             net  0.007432
4        26058    17      148007             net  0.011486
...        ...   ...         ...             ...       ...
1116     27552     5      100000             net  0.005000
1117     27552     0      100000             net  0.000000
1118     15868     1      150000           gross  0.000667
1119     15868     1      150000           gross  0.000667
1120     15868     0      150000           gross  0.000000

[1121 rows x 5 columns]

In [18]:
data_sr_fix =  pd.merge(data_feed_tray, data_feeds, on='cycle_id', how='inner')

In [ ]:
data_sr_fix =  pd.merge(data_sr_fix, data_sr, on='cycle_id', how='inner')

In [ ]:
data_sr_fix.head()

In [ ]:
data_sr_fix['total_seed'] = data_sr_fix['total_seed'] / 1000

In [ ]:
replacements = {'actual': '1', 'net': '0'}

# replace values using the .map() method
data_sr_fix['total_seed_type'] = data_sr_fix['total_seed_type'].map(replacements).fillna(data_sr_fix['total_seed_type'])

In [ ]:
data_sr_fix = data_sr_fix[['tray_number','feed_remaining_percent','quantity','ekor','total_seed','total_seed_type','sr%']]

In [ ]:
data_sr_fix.corr()

In [ ]:
data_sr_m= data_sr_fix[['ekor','quantity','sr%']]

In [ ]:
data_sr_m.to_csv('data_sr_m.csv')

Data SR(total) (Jumlah Udang Panen / Jumlah Benur Tebar) x 100%

In [ ]:
#jumlah total ekor udang
sum_total_ekor = merge_df['ekor'].sum()

In [ ]:
#jumlah total penyebaran benih
sum_total_seed = merge_df['total_seed'].sum()

Survival rate Total

In [ ]:
sr=sum_total_ekor/sum_total_seed*100
print(sr)

##Menghitung ADG

Menggbungkan data_sampling ABW dengan data_harvests

In [ ]:
#membulatkan nilai abw
data_samplings['abw_round']=round(data_samplings['average_weight'])

In [ ]:
merge_second = pd.merge(data_harvests, data_samplings, on='cycle_id', how='inner')

Menghitung jumlah sampel udang = abw/berat udang

In [ ]:
#dalam gram
merge_second['sum_sample_g']= merge_second['abw_round']/ merge_second['weight'] * 1000

In [ ]:
#dalam kg
merge_second['sum_sample_kg']= (merge_second['abw_round']/1000)/ merge_second['weight']

In [ ]:
merge_second['abw_round'].head(20)

In [ ]:
merge_second['average_weight'].head(20)

In [ ]:
merge_second['sum_sample_g'].head(20)

In [ ]:
merge_second.head(20)

Menghitung ADR

In [ ]:
#menggabungkan data sebelumnya
adr_g=pd.DataFrame({
    'cycle_id': merge_second['cycle_id'],
    'sampled_at':merge_second['sampled_at'],
     'weight' : merge_second['weight'],
    'sum_sample_g': merge_second['sum_sample_g'],
    'sum_sample_kg': merge_second['sum_sample_kg'],
    'abw': merge_second['average_weight'],
    'abw_round': merge_second['abw_round'],
})

In [ ]:
if not pd.api.types.is_datetime64_dtype(adr_g['sampled_at']):
    adr_g['sampled_at'] = pd.to_datetime(adr_g['sampled_at'])

Membuat selisih hari

In [ ]:
# Calculate the difference between sampled_at values within each cycle_id
adr_g['diff_d'] = adr_g.groupby('cycle_id')['sampled_at'].diff().dt.days

In [ ]:
adr_g['diff_d'].head()

Membuat selisih abw

In [ ]:

# Assuming you have the DataFrame 'adr_g'
# (Make sure it contains the 'cycle_id' and 'abw_round' columns)

# Calculate the difference of abw_round within each cycle_id
adr_g['diff_abw_round'] = adr_g.groupby('cycle_id')['abw_round'].diff()

# Print the DataFrame with the new column
print(adr_g)

In [ ]:
adr_g['diff_abw'] = adr_g.groupby('cycle_id')['abw'].diff()

Mengisi Nilai kosong

In [ ]:
adr_g = adr_g.fillna(0)

Pembagian selisih abw/selisih diff_d

In [ ]:
adr_g['adr_result_r'] = adr_g['diff_abw_round']/adr_g['diff_d']
adr_g['adr_result'] = adr_g['diff_abw']/adr_g['diff_d']

Mengisi nilai kosong

In [ ]:
adr_g['adr_result'] = adr_g['adr_result'].fillna(0)
adr_g['adr_result_r'] = adr_g['adr_result_r'].fillna(0)

In [ ]:
adr_g

Hasil ADR

In [ ]:
adr_result = adr_g[['cycle_id','sampled_at','diff_abw_round','diff_abw','diff_d','adr_result','adr_result_r']]

In [ ]:
adr_result.head()

In [ ]:
abww = pd.merge(adr_result,data_feeds, on="cycle_id", how="inner")

In [ ]:
abww = pd.merge(abww,data_feed_tray, on="cycle_id", how="inner")

In [ ]:
abww = pd.merge(abww,data_cycles, on="cycle_id", how="inner")

In [ ]:
abww = pd.merge(abww,data_harvests, on="cycle_id", how="inner")

In [ ]:
abww['harvest_at'] = pd.to_datetime(abww['harvests_at'])
abww['started_at'] = pd.to_datetime(abww['started_at'])

In [ ]:
abww['usia_budidaya'] = abww['harvest_at']- abww['started_at']

## Jawaban No.3

Biomass
Jumlah total berat udang yang diperkirakan hidup di dalam kolam. Biasa dihitung dalam unit kilogram. Cara menghitungnya kurang lebih dengan mengkalikan nilai ABW dengan total populasi udang yang masih hidup di dalam kolam.

Revenue forecast. Ini cek aja tabel harvest, di situ kan ada nilai selling price terhadap size dan weightnya, coba deh dicari tau itu korelasinya seperti apa

In [ ]:
adr_g.head()

Membuat data Biomass

In [ ]:
data_biomass = pd.merge(adr_g, data_cycles, on='cycle_id', how='inner')

In [ ]:
data_biomass['abw'].head()

In [ ]:
data_biomass['biomass_result']= data_biomass['total_seed'] * data_biomass['abw']

In [ ]:
data_biomass['biomass_result_round']= data_biomass['total_seed'] * data_biomass['abw_round']

In [ ]:
data_biomass.to_csv('data_biomass.csv')

Transformasi data sebelum Modeling

##Prediksi Model Revenue forecast

In [ ]:
data_harvests.head(70)

In [ ]:
if not pd.api.types.is_datetime64_dtype(data_harvests['harvested_at']):
    data_harvests['harvested_at'] = pd.to_datetime(data_harvests['harvested_at'])

In [ ]:
# Extract date components (year, month, day)
data_harvests['month'] = data_harvests['harvested_at'].dt.month

# Extract time components (hour, minute, second)
data_harvests['day'] = data_harvests['harvested_at'].dt.day

data_harvests['year'] = data_harvests['harvested_at'].dt.year

In [ ]:
if not pd.api.types.is_datetime64_dtype(data_harvests['created_at']):
    data_harvests['created_at'] = pd.to_datetime(data_harvests['created_at'])

In [ ]:
# Extract date components (year, month, day)
data_harvests['c_month'] = data_harvests['created_at'].dt.month

# Extract time components (hour, minute, second)
data_harvests['c_day'] = data_harvests['created_at'].dt.day

data_harvests['c_year'] = data_harvests['created_at'].dt.year

In [ ]:

data_h = data_harvests[['c_day','c_month','c_year','month','day','year','weight','size','ekor','status','selling_price']]

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Urutkan kolom kategorikal
data_h['status'] = data_h['status'].sort_values()
data_h['c_day'] = data_h['c_day'].sort_values()
data_h['c_month'] = data_h['c_month'].sort_values()
data_h['c_year'] = data_h['c_year'].sort_values()
data_h['day'] = data_h['day'].sort_values()
data_h['month'] = data_h['month'].sort_values()
data_h['year'] = data_h['year'].sort_values()

In [ ]:
# Buat encoder untuk kolom 'status'
status_encoder = LabelEncoder()
data_h['status_encoded'] = status_encoder.fit_transform(data_h['status'])

# Buat encoder untuk kolom 'c_day'
c_day_encoder = LabelEncoder()
data_h['c_day_encoded'] = c_day_encoder.fit_transform(data_h['c_day'])

# Buat encoder untuk kolom 'c_month'
c_month_encoder = LabelEncoder()
data_h['c_month_encoded'] = c_month_encoder.fit_transform(data_h['c_month'])

# Buat encoder untuk kolom 'c_year'
c_year_encoder = LabelEncoder()
data_h['c_year_encoded'] = c_year_encoder.fit_transform(data_h['c_year'])

# Buat encoder untuk kolom 'day'
day_encoder = LabelEncoder()
data_h['day_encoded'] = day_encoder.fit_transform(data_h['day'])

# Buat encoder untuk kolom 'month'
month_encoder = LabelEncoder()
data_h['month_encoded'] = month_encoder.fit_transform(data_h['month'])

# Buat encoder untuk kolom 'year'
year_encoder = LabelEncoder()
data_h['year_encoded'] = year_encoder.fit_transform(data_h['year'])

In [ ]:
# Ubah nilai label menjadi terurut
status_mapping = dict(zip(status_encoder.classes_, status_encoder.transform(status_encoder.classes_)))
data_h['status_encoded'] = data_h['status_encoded'].replace(status_mapping)

c_day_mapping = dict(zip(c_day_encoder.classes_, c_day_encoder.transform(c_day_encoder.classes_)))
data_h['c_day_encoded'] = data_h['c_day_encoded'].replace(c_day_mapping)

c_month_mapping = dict(zip(c_month_encoder.classes_, c_month_encoder.transform(c_month_encoder.classes_)))
data_h['c_month_encoded'] = data_h['c_month_encoded'].replace(c_month_mapping)

c_year_mapping = dict(zip(c_year_encoder.classes_, c_year_encoder.transform(c_year_encoder.classes_)))
data_h['c_year_encoded'] = data_h['c_year_encoded'].replace(c_year_mapping)

In [ ]:
day_mapping = dict(zip(day_encoder.classes_, day_encoder.transform(day_encoder.classes_)))
data_h['day_encoded'] = data_h['day_encoded'].replace(day_mapping)

month_mapping = dict(zip(month_encoder.classes_, month_encoder.transform(month_encoder.classes_)))
data_h['month_encoded'] = data_h['month_encoded'].replace(month_mapping)

year_mapping = dict(zip(year_encoder.classes_, year_encoder.transform(year_encoder.classes_)))
data_h['year_encoded'] = data_h['year_encoded'].replace(year_mapping)

In [ ]:
data_h= data_h.drop(columns=['c_month','c_year','month','year','c_day_encoded','day_encoded','status'])

In [ ]:
data_h.corr()